@theme {
  --color-primary: #6366f1;
  --color-primary-hover: #4f46e5;
  --color-primary-focus: #4f46e5;
  --color-primary-line: #4f46e5;
  --color-primary-foreground: #ffffff;
  
  --color-navbar: #1f2937;
  --color-navbar-line: #374151;
  
  --color-layer: #111827;
  --color-layer-line: #374151;
  
  --color-muted: #1f2937;
  --color-muted-hover: #374151;
  --color-muted-focus: #4b5563;
  
  --color-muted-foreground: #d1d5db;
  --color-muted-foreground-1: #9ca3af;
  --color-muted-foreground-2: #6b7280;
  
  --color-foreground: #f3f4f6;
  --color-background: #111827;
  
  --color-table-line: #374151;
}